*{
    box-sizing: border-box;
}
body{    
    display: flex;
    align-items: center;
    justify-content: center;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container{
    max-width: 320px;
}