body{   
    background-color: $secodary-bg-color;
    min-height: 100vh;
    padding: 0px !important;
    // display: flex;
}
#root{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
}

.header{
    border-bottom: 1px solid lighten($primary-bg-color, 65%) ;

    .navbar{
       
        .navbar-nav{
            
            width: 100%;
            display: flex;
            justify-content: center;   
            align-items: center;         
            gap: 25px;

            li{
                padding: 0px 0px;
                text-align: center;
                justify-content: center;

                a{
                    display: flex;
                    flex-direction: column;   

                    i{
                        font-size: 35px;
                    }
                    span{
                        font-size: 14px;
                        

                        white-space: pre-line !important;
                    }
                }            
            }
        }        

        button.navbar-toggler.principal{
            padding: 3px 6px;
            background-color: $secodary-bg-color;
            border: none;

            /*
            &::before{
                content: "";
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0,0,0,0.75);
                z-index: 9999;                               
            }
            */
        }
        /*
        .display-desktop{
            display: block;
        }
        .display-responsive{
            display: none;
        }

        .navbar-toggler.principal[aria-expanded='false']{
            &::before{
                display: none;
            }
        }
        */
    }

    .btn-profile {
        
        padding: 0;
        
        img{
        height: 60px;
        width: 60px;
        background-attachment: fixed;
        border-radius: 100%;
        }

        &::after{
            display: none;
        }
    }
}

.breadcrumb-container{
    color: $primary-bg-color;
    padding: 40px 0px 125px 0px;


    li + li:before{
        content: "\F285" !important;
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;
        color: $primary-bg-color !important;

        padding: 0;
        float: none !important;
    }
    li,a,i{
        color: $primary-bg-color !important;
    }

    .container > h1{
        font-size: 1.5rem;
    }
}

.main{
    height: 100%;
    flex: 1;
    position: relative;
}

.container-list{
    flex: 1 0 auto;
    margin-top: -100px;
}

.atajos-homes{
    display: flex;
    flex-wrap: wrap;
    list-style: none;        
    position: relative;
    padding: 0;
    margin-top: -100px;

    li{        
        min-height: 250px;
        margin-bottom: 40px;        
        position: relative;

        a{
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;

            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            text-align: center;
            height: 100%;

            color: $primary-bg-color;

            box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.025);
            -webkit-box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.025);
            -moz-box-shadow: 10px 10px 18px -1px rgba(0,0,0,0.025);

            i{
                font-size: 60px;
            }

            span{               
                max-width: 180px; 
                font-size: 20px;
                font-weight: 500;                
                display: block;
                margin: 0px auto;
            }
        }
    }
}

.inner-page{
    background-color: #fff;
    border-radius: 15px;
    margin-top: -100px;
    padding: 20px 15px;
    margin-bottom: 35px;  
    min-height: 330px;  

    .atajos-homes{
        margin-top: 0px;
    }
}

.table{
    
    .acciones-buttons{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
}

.category-destacados,
.category-destacados ul,
.category-destacados .form-check{
    padding: 0;
}
.form-check .form-check-input{
    margin-left: 5px;
    margin-right: 5px;
}
.category-destacados ul{
    margin-top: 10px;
}
.category-destacados li {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
    margin-left: 5px;
}
.category-destacados .form-check input{

    position: relative;
    list-style: none;
    margin-left: 15px;
    &:after{
        content: "\F3D7";
        display: block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -0.125em;
        -webkit-font-smoothing: antialiased;

        position: absolute;
        left: -22px;
        top: -2px;
    }    
}

.category-destacados .form-check input:checked{
    &:after{
        content: "\F3D0";
        color: green;
    }
}

.rs-picker.rs-picker-select:not(.no-width){
    width: 100% !important;
}
.rs-picker.rs-picker-select:not(.no-width) > div{
    border: 0px !important;
}
.footer{
    min-height: 50px;
    background-color: lighten($primary-bg-color, 5%)  !important; 

    p{
        margin: auto;
        font-size: 13px;
        color: $text-primary;

        &:hover{
            color: $text-primary;
        }
        a{
            color: $text-primary;
        }
    }
}
.navbar-footer{

    background-color: darken($head-bg-color, 5%) !important; 

    .navbar{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: flex-end;

        .dropdown-menu{
            right: 0;
            left: auto;
        }
    }
}

.w-100{
    width: 100% !important;
}
.h-100{
    height: 100% !important;
}

input:not([type="file"],.no-readonly):read-only,
input:not([type="file"],.no-readonly):read-only:is(:focus,:visited,:active),
.btn-group button:disabled,
.btn-group .btn-check:disabled + .btn{
    background-color:#696262;
    color: #fff;
    box-shadow: none;
    outline: none;
    border-color: #696262;
    pointer-events: none; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.table-nota-heladero .input-group-text{
    min-width: 40.66px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;

    justify-content: center;
    
}

.rs-table-row .rs-table-row-expanded{
    overflow-y: scroll !important;
}

.nota-grid-buttons-1{
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* si la nota fue cerrada */
.nota-grid-buttons-1 .button-print{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1 .button-save{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1 .button-new{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
@media(max-width:500px){
    /* si la nota fue cerrada */
    .nota-grid-buttons-1 .button-print{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1 .button-save{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1 .button-new{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }   
}

/* si la nota aun no ha sido cerrada */
.nota-grid-buttons-1:not(:has(.button-factura)) .button-edit{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1:not(:has(.button-factura)) .button-print{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1:not(:has(.button-factura)) .button-save{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1:not(:has(.button-factura)) .button-factura{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1:not(:has(.button-factura)) .button-new{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
.nota-grid-buttons-1:not(:has(.button-factura)) .button-back{
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}
@media(max-width:1000px){
    /* si la nota aun no ha sido cerrada */
    .nota-grid-buttons-1:not(:has(.button-factura)) .button-edit{
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1:not(:has(.button-factura)) .button-print{
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1:not(:has(.button-factura)) .button-save{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1:not(:has(.button-factura)) .button-factura{
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1:not(:has(.button-factura)) .button-new{
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .nota-grid-buttons-1:not(:has(.button-factura)) .button-back{
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    } 
}