$primary-bg-color :#17191E;
$secodary-bg-color: #F4F6FA;

$head-bg-color: #DCDCDC;
$primary-size: 17px;

$text-primary:#fff;

.bg-primary{
    background-color: $head-bg-color !important;
}
.bg-secondary{
    background-color:  $secodary-bg-color !important;
}