name: Deploy to VPS

on:
  push:
    branches: [ main ]  # O 'master' según tu rama principal

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Deploy to VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        port: ${{ secrets.VPS_PORT }}
        script: |
          cd /var/www/yorasaac
          git config --global --add safe.directory /var/www/yorasaac
          git pull origin main
          # Aquí van tus comandos específicos según tu stack
          git pull origin main
          npm install
          npm run build  # Si tienes un build step
